<div *ngIf="!selectedBooking">
  <h2>Bookings Information</h2>
  <h3>Click on the booking you want to modify.</h3>
  <div style="height: 100%; width: 100%">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [rowData]="bookings"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      [domLayout]="'autoHeight'"
      (rowClicked)="selectBooking($event.data)">
    </ag-grid-angular>
  </div>
</div>

<div *ngIf="selectedBooking">
  <h2>Modify booking</h2>
  <div style="height: 100%; width: 100%">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [rowData]="[selectedBooking]"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      [domLayout]="'autoHeight'">
    </ag-grid-angular>
  </div>

  <button (click)="updateBookingStatus()">Cancel Booking</button>
  <button (click)="updateMealPlan()">Modify Meal Plan</button>
  <button (click)="updateCarParkingSpace()">Modify Parking Space</button>
</div>

<div *ngIf="confirmCancellation" class="modal">
  <div class="modal-content">
    <h3>Are you sure you want to cancel this reservation?</h3>
    <button (click)="cancelBooking()">Yes</button>
    <button (click)="closeDialog()">No</button>
  </div>
</div>

<div *ngIf="showMealPlanSelect" class="modal">
  <div class="modal-content">
    <h3>Select a meal plan:</h3>
    <select [(ngModel)]="selectedMealPlan">
      <option value="Meal Plan 1">Meal Plan 1</option>
      <option value="Meal Plan 2">Meal Plan 2</option>
      <option value="Not selected">Not selected</option>
    </select>
    <button (click)="updateMealPlanConfirmed()">Confirm</button>
    <button (click)="closeDialog()">Return</button>
  </div>
</div>

<div *ngIf="showParkingDialog" class="modal">
  <div class="modal-content">
    <h3>Do you want to reserve a parking space?</h3>
    <button (click)="confirmParking(true)">Yes</button>
    <button (click)="confirmParking(false)">No</button>
  </div>
</div>

<div *ngIf="showModal" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ modalMessage }}</h2>
    <button class="close-btn" (click)="closeModal()">Close</button>
  </div>
</div>
