<div style="text-align:center;">
  <h1>Hotel Management System</h1>
  <div>
    <button routerLink="/">Home</button>
    <button routerLink="/hotels">View Hotels</button>
    <button routerLink="/staff">View Staff</button>
    <button routerLink="/bookings">View Bookings</button>
    <button routerLink="/guests">View Guests</button>
    <button routerLink="/rooms">View Rooms</button>
    <button routerLink="/reservation">Make a reservation</button>
    <button routerLink="/modifications">Make a booking modification</button>
    <button routerLink="/graphs">Show graphs</button>
  </div>
</div>

<router-outlet></router-outlet>
