<div *ngIf="isAuthenticated && !isLoginPage">
  <nav class="navbar">
    <div class="navbar-left">

      <div class="dropdown">
        <button class="dropbtn">Tables</button>
        <div class="dropdown-content">
          <button routerLink="/hotels">View Hotels</button>
          <button routerLink="/staff">View Staff</button>
          <button routerLink="/bookings">View Bookings</button>
          <button routerLink="/guests">View Guests</button>
          <button routerLink="/rooms">View Rooms</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Functionalities</button>
        <div class="dropdown-content">
          <button routerLink="/reservation">Make a reservation</button>
          <button routerLink="/modifications">Make a booking modification</button>
          <button routerLink="/graphs">Show graphs</button>
        </div>
      </div>
    </div>

    <div class="navbar-right">
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </nav>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
